<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="server" value="fnsrvsql-060.mecabo.de"/>
		<add key="timeofficeTestsystemStartExe" value='C:\Program Files (x86)\CsgTimeOffice\net\Pradtke.Timeoffice.Desktop.exe'/>
		<add key="timeofficeTestsystemStartArguments" value='/dbenginename fnsrvsql-060 /dbtype sqlserver2000 /dblinks tcpip /dbname timeoffice_TEST'/>
		<add key="XtimeofficeTestsystemStartExe" value='C:\pc_inst\Test Ordner\notepad.exe'/>
		<add key="XtimeofficeTestsystemStartArguments" value='c:\pc_inst\Avaya Workplace Setup 3.14.0.53.10.msi.txt'/>
		<add key="SQL1" value="select GetDate()"/>
		<add key="SQL2" value="select * from  [timeoffice_TEST].[dbo].[STDd]"/>
		<add key="SQL3" value="USE master"/>
		<add key="SQL4" value="ALTER DATABASE  [timeoffice_TEST]
SET OFFLINE WITH ROLLBACK IMMEDIATE"/>
		<add key="SQL5" value=" 
DECLARE @List AS nvarchar(max);
SELECT top 1 @List = 
	msdb.dbo.backupmediafamily.physical_device_name 
	FROM msdb.dbo.backupmediafamily 
	INNER JOIN msdb.dbo.backupset ON msdb.dbo.backupmediafamily.media_set_id = msdb.dbo.backupset.media_set_id 
	WHERE 
	database_name = 'timeoffice'
	and backupset.type = 'D'
	ORDER BY 
	msdb.dbo.backupset.database_name, 
	msdb.dbo.backupset.backup_finish_date  desc;
	RESTORE DATABASE [timeoffice_TEST] FROM  DISK = @List
	WITH  FILE = 1,  
	MOVE N'CsgTimeoffice_Data' TO N'D:\MSSQL-Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\timeoffice_TEST.MDF',  
	MOVE N'CsgTimeoffice_Log' TO N'D:\MSSQL-Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\timeoffice_TEST.LDF',  
	NOUNLOAD,  STATS = 5, REPLACE"/>
		<add key="SQL6" value="UPDATE [timeoffice_TEST].[dbo].[TPersonal] SET Name = 'Test_' + name "/>
	</appSettings>
</configuration>